.decline-call-btn {
    border-radius: 50% !important;
    width: 60px !important;
    height: 60px !important;
    background-color: #e74c3c !important;
    border: 1px solid #e74c3c !important;
  }
  
  .decline-call-btn:hover {
    border: 1px solid #c0392b !important;
    background-color: #c0392b !important;
  }
  
  .answer-call-image {
    cursor: pointer !important;
  }
  
  .answer-call-image img {
    height: 70px !important;
  }
  
  .call-modal-title {
    font-weight: 700 !important;
    color: #0f3057;
  }
  
  .call-modal-header {
    border: 0 none !important;
    background-color: #d6eaf8 !important;
  }
  
  .call-modal-header .btn-close {
    font-size: 14px !important;
    color: #1e3a5f;
  }
  
  .call-modal-footer {
    display: flex !important;
    justify-content: flex-end !important;
    border: 0 none !important;
    background-color: #d6eaf8 !important;
  }
  